*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  background-color: #222222;
}

.center{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.main{
  padding: 40px 0;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu a{
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.item-menu a{
  color: rgb(230, 230, 230);
  padding: 10px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

.menu a:hover{
  color: #ffffff;
}

.menu h3{
  color:rgb(230, 230, 230);
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  width: 40%;
}

.container h3{
  color: rgb(230, 230, 230);
  font-size: 30px;
}

.container p{
  padding-top: 10px;
  color: rgb(160, 160, 200);
}

.box-container {
  display: flex;
  padding-top: 5%;
}

.box {
  max-width: 600px;
  background-color: #a3a3a3; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.box a {
  text-decoration: none;
  color: #3d3d3d;
}

.box h3 {
  color: #333333; 
  font-size: 24px;
}

.box p {
  color: #313131;
  font-size: 14px;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-links a {
  color: #ffffff; /* Cor dos ícones */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0077b5; /* LinkedIn azul, você pode trocar para outras cores */
}

.lists{
  margin-top: 20px;
}

.lists h3{
  color: rgb(230, 230, 230);
  font-size: 24px;
}

.lists li{
  color: rgb(230, 230, 230);
  padding: 8px;
}

.lists p{
  color: rgb(160, 160, 200);
  padding-top: 0px;
}

.perfil {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;

}